<article class="entry entry-{$type}">{
($title eq '') ? '' : "<h2>$title</h2>";
}<div>{$body}</div>
<footer>
<time datetime="{$date}">{$date}</time>
<span class="extra">
&middot;
<a href="permalink/{$id}.html">link</a>
</span>
</footer>
<hr>
</article>
</a>
