<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {$meta}
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,700&display=swap">
    <title>do not attempt to comb the timey wimey ball</title>
  </head>
  <body>
    <header>
      <a href="/"><h1>twsq.</h1></a>
    </header>
    <main>{$main}</main>
    <footer>&copy 2020 twsq.</footer>
  </body>
</html>
