*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    
    margin: 0 auto;
    padding: 0 8%;
    
    color: #ddd;
    background-color: #161616;
    font-family: 'Vollkorn', serif;

    min-height: 100vh;
    max-width: 900px;

    position: relative;
    padding-bottom: 2em;
}

a:link {
    color: #888;
    text-decoration: underline #161616;
    transition: text-decoration-color 80ms;
}
a:visited {
    color: #888;
}
a:hover {
    text-decoration-color: #888;
}

header {
    text-align: center;
    padding-top: 1em;
}
header > h1 {
    margin: 0;
}
header > h1 > a:link {
    color: inherit;
    text-decoration: inherit;
    transition: color 80ms;
}
header > h1 > a:link {
    color: inherit;
}
header > h1 > a:visited {
    color: inherit;
}

nav {
    display: inline-table;
    width: 100%;
    max-width: 300px;
    padding: 0.2em;
}
nav > a, nav > span {
    display: table-cell;
    max-width: 0;
}

.entry {
    padding: 8px 0;
    margin: 8px 0;
}

.entry > footer {
    color: #888;
    font-size: small;
    
    padding-top: 8px;
}
.extra {
    visibility: hidden;
}
article:hover .extra, header:hover .extra {
    visibility: visible;
}

.entry > hr {
    border: none;
    background-color: #333;
    height: 2px;
}

.entry-convo .row {
    display: table-row;
}
.entry-convo .line {
    display: table-cell;
    vertical-align: baseline;

    padding-left: 1ex;
}
.entry-convo .attr {
    display: table-cell;
    vertical-align: baseline;

    text-align: right;
    font-weight: bold;
}

.entry-quote .line {
    display: block;
    
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
}
.entry-quote .attr {
    display: block;
    
    text-align: right;
    font-style: italic;
    padding-top: 1em;
}

body > footer {
    color: #666;
    text-align: center;
    height: 2em;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
