*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: boder-box;
    
    margin: 0 auto;
    
    color: #ddd;
    background-color: #161616;
    font-family: 'Vollkorn', serif;
    
    max-width: 600px;
}

a:link {
    color: #777;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
}
header h1 {
    color: #ddd;
}

.entry {
    padding: 8px 0;
    margin: 8px 0;
}

.entry > footer {
    color: #777;
    font-size: small;
    
    padding-top: 8px;
}
.entry .extra {
    visibility: hidden;
}
.entry:hover .extra {
    visibility: visible;
}

.entry > hr {
    border: none;
    background-color: #333;
    height: 2px;
}

.entry-convo .row {
    display: table-row;
}
.entry-convo .line {
    display: table-cell;
    vertical-align: baseline;

    padding-left: 1ex;
}
.entry-convo .attr {
    display: table-cell;
    vertical-align: baseline;

    text-align: right;
    font-weight: bold;
}

.entry-quote .line {
    display: block;
    
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
}
.entry-quote .attr {
    display: block;
    
    text-align: right;
    font-style: italic;
    padding-top: 1em;
}

body > footer {
    color: #666;
    text-align: center;
}
